{% extends "base.html" %}
{% load static %}


{% block style %}

{% endblock style %}


{% block main %}

<div class="container mt-5">
  <h2 class="mb-4">Add Address</h2>
  <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea class="form-control" id="address" name="address" rows="3">{{ addr.address }}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
 
{% endblock main %}


{% block script %}

{% endblock script %}