{% extends "base.html" %}
{% load static %}


{% block style %}

{% endblock style %}


{% block main %}
<div class="container mt-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}  {{ form.as_p }}  <button type="submit" class="btn btn-primary btn-md">Add Categories</button>
      </form>
</div>

<div class="container mt-5">
    <table class="text-center">
        <thead>
            <tr>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr class="border border-primary">
                <td>{{ category.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock main %}


{% block script %}

{% endblock script %}