{% extends "base.html" %}
{% load static %}


{% block style %}

{% endblock style %}


{% block main %}

<section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Cart </h5>
            </div>
            <div class="card-body">
              <!-- Single item -->
              {% for item in cart_items %}
              <div class="row border border-primary m-2 p-2">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="{{item.product.image1.url}}"
                      class="w-100" alt="{{item.product.name}}" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong>{{item.product.name}}</strong></p>
                  <p>Color: {{item.color}}</p>
                  <p>Size: {{item.size}}</p>
                  <p>Seller: {{item.seller.user}}</p>
                    <a class="btn btn-primary btn-sm me-1 mb-2" href="/shop/remove_from_cart/{{item.id}}/">
                    <i class="fas fa-trash"></i></a>


                  
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <button class="btn btn-primary mx-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown() , formSubmit()">
                      <i class="fas fa-minus"></i>
                    </button>
                    <form action="/shop/update_cart/{{item.id}}/" method="post" id="updateQuantityForm" >
                      {% csrf_token %}
                    <div class="form-outline">
                      <input id="form1" min="1" name="quantity" value="{{item.quantity}}" type="number" class="form-control" onchange="formSubmit()" />
                     
                    </div>
                  </form>
                    <button class="btn btn-primary mx-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp() , this.parentNode.querySelector('form').submit()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong>Price: ₹{{item.product.price}}/-</strong>
                  </p>
                  <!-- Price -->
                </div>
              </div>
              {% endfor %}
  
              <hr class="my-4" />
  
              
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
                alt="PayPal acceptance mark" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Products
                  <span>₹{{ total_price }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Shipping
                  <span>Gratis</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">(including VAT)</p>
                    </strong>
                  </div>
                  <span><strong>₹{{ total_price }}</strong></span>
                </li>
              </ul>
  
              <a class="btn btn-primary btn-lg btn-block" href="/shop/checkout/">
                Go to checkout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main %}


{% block script %}
<script>
  function formSubmit() {
    document.getElementById("updateQuantityForm").submit();
  }
</script>

{% endblock script %}